click==8.2.1
DateTime==5.5
Faker==37.8.0
joblib==1.5.2
nltk==3.9.1
numpy==2.3.3
pandas==2.3.2
py4j==0.10.9.9
pyspark==4.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.9.1
setuptools==80.9.0
six==1.17.0
textblob==0.19.0
tqdm==4.67.1
tzdata==2025.2
zope.interface==8.0
